<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  {{#if products.id}}
  <h1 class="bg-secondary text-center text-white w-100 mb-3">DETAILS</h1>
  <div class="card mb-3 w-25">
  <img src="{{products.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{products.title}}</h5>
    <p class="card-text">Price: ${{products.price}} / Stock: {{products.stock}}</p>
  </div>
</div>
  {{else}}
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">PRODUCT NOT FOUND</h1>
  {{/if}}
</main>